*{
    box-sizing: border-box;
}

body{
    background-color: dimgray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.pw-container{
    background-color: rgb(59, 59, 59);
    min-width: 20em;
}

.pw-header{
    padding: 1rem;
}

.pw{
    font-size: 1.5rem;
    background-color: dimgray;
    display: flex;
    align-items: center;
    height: 3em;
    width: 100%;
    position: relative;
}

.pw button{
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    cursor: pointer;
    border: none;
}

.pw:hover button{
    opacity: 1;
}

.pw-body{
    padding: 0 1em 1em;
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.generate{
    background-color: #ecb602;
    color: purple;
    border: none;
    display: block;
    font-size: 1.5em;
    padding: 0.75rem;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}
